@import './generate.less';

// @import '~ant-design-vue/dist/antd.dark.less';

@import '~ant-design-vue/dist/antd.less';

#app, .main-layout, .main-layout > .ant-layout {
  min-height: 100vh;
}

.ant-layout-content {
  padding: 20px;
  // background: #f0f2f5;
}
.ant-layout-sider {
  // box-shadow: 1px 0 4px #eeeeee;
}

.fr { float: right; }
.fl { float: left; }
.cup { cursor: pointer; }
// .bgw { background-color: #ffffff; }
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
